# Database Configuration
DB_SERVER=tcp:onlinebookstore-app-server.database.windows.net,1433
DB_NAME=OnlineBookstore
DB_USERNAME=onlinebookstore-admin
DB_PASSWORD=YOUR_ACTUAL_PASSWORD_HERE

# JWT Configuration
JWT_SECRET_KEY=YOUR_JWT_SECRET_KEY_HERE

# PayPal Configuration
PAYPAL_CLIENT_ID=YOUR_PAYPAL_CLIENT_ID
PAYPAL_CLIENT_SECRET=YOUR_PAYPAL_CLIENT_SECRET
